{% include base_path.html %}

<div class="row">
  
  <div class="col-md-6">
    <h3 id="bios-emily">Emily Nakkawita</h3>
    <ul>
      <li><b>Research interests: </b>how goal pursuit processes differ based on individuals' unique motivational orientations</li>
      <li><b>Method specialties: </b>surveys, web-based response latency tasks</li>
      <li><b>Tool/language specialties: </b>R, generating manuscripts with Papaja, Javascript/HTML customization in Qualtrics, M-Turk, Prolific</li>
      <li><b>Favorite NYC neighborhood: </b>Park Slope</li>
      <li><b>Office hours: </b>To be announced</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="bios-hannah">Hannah Tarder-Stoll</h3>
    <ul>
      <li><b>Research interests: </b>how memory is flexibly used to predict future events at different timescales</li>
      <li><b>Method specialties: </b>cognitive tasks (in-person and web-based), neuroimaging, virtual reality</li>
      <li><b>Tool/language specialties: </b>R, Python, Unity, Inquisit</li>
      <li><b>Favorite NYC neighborhood: </b>Astoria</li>
      <li><b>Office hours: </b>To be announced</li>
    </ul>
  </div>
  
</div>
