{% include base_path.html %}

<div class="row">
  
  <div class="col-md-6">
    <h3 id="bios-paul">Paul Bloom</h3>
    <ul>
      <li><b>Research interests: </b>environmental effects on learning & memory development across the lifespan (from children to older adults)</li>
      <li><b>Method specialties: </b>neuroimaging, surveys</li>
      <li><b>Tool/language specialties: </b>R, Python</li>
      <li><b>Mario Kart character: </b>Baby Luigi</li>
      <li><b>Office hours: </b>Third Mondays of the month, Schermerhorn 409A (ring the doorbell)</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="bios-jonathan">Jonathan Nicholas</h3>
    <ul>
      <li><b>Research interests: </b>contributions of different types of memory & reward to successful decision making</li>
      <li><b>Method specialties: </b>web-based cognitive tasks, neuroimaging, eyetracking</li>
      <li><b>Tool/language specialties: </b>Python, Javascript</li>
      <li><b>Mario Kart character: </b>Tanooki Mario</li>
      <li><b>Office hours: </b>First Mondays of the month, Schermerhorn Extension 368</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="bios-monica">Monica Thieu</h3>
    <ul>
      <li><b>Research interests: </b>perception and categorization of emotional & social information</li>
      <li><b>Method specialties: </b>web-based cognitive tasks, neuroimaging, surveys</li>
      <li><b>Tool/language specialties: </b>R, Javascript</li>
      <li><b>Mario Kart character: </b>Roy</li>
      <li><b>Office hours: </b>Second Mondays of the month, Schermerhorn 324B (common area)</li>
    </ul>
  </div>
  
</div>
