@import url(https://fonts.googleapis.com/css?family=Overlock:wght@900);
@import url(https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,400;0,600;1,400);
@import url(https://fonts.googleapis.com/css?family=Fira+Code:wght@400;700);

body { font-family: 'Faustina', serif; }
h1, h2, h3 {
  font-family: 'Overlock', cursive;
}
.remark-code, .remark-inline-code { font-family: 'Fira Code', monospace; }
