{% include base_path.html %}

<div class="row">
    
  <div class="col-md-6">
    <h3 id="bios-paul">Paul Bloom</h3>
    <p>
        Paul is a very nice boy. He plays the jazz piano and makes great multilevel modeling memes (MMMs).
        We appreciate him greatly. His preferred Mario Kart character is Baby Luigi.
    </p>
  </div>
  <div class="col-md-6">
    <h3 id="bios-jonathan">Jonathan Nicholas</h3>
    <p>
        Jonathan is a very long boy. He masquerades as the ninety-nine-armed bandit
        and puts reinforcement learning models in the good children's stockings on Labor Day eve.
        His preferred Mario Kart character is Tanooki Mario.
    </p>
  </div>
  <div class="col-md-6">
    <h3 id="bios-monica">Monica Thieu</h3>
    <p>
        Monica is a very extra girl. She enjoys wearing billowing robes and casting mysterious
        and magical spells using the book of tidyverse. Her preferred Mario Kart character is Roy.
    </p>
  </div>

</div>
