{% assign r_url = relative_root_path | append: '/R/extraTutorials/' %}
{% assign py_url = relative_root_path | append: '/python/' %}

<div class="row">

    <div class="col-md-6">
        <h3 id="ggplot-extra">Accelerated <code>ggplot2</code></h3>
        <ul>
            <li><a href="{{ r_url }}ggplotExtra/ggplot_summer2018_part1.html">Basic plotting in <code>ggplot2</code></a></li>
            <li><a href="{{ r_url }}ggplotExtra/ggplot_summer2018_part2.html">More advanced <code>ggplot2</code>-ing (plotting using model fits + raw data)</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 id="tidyverse-tour">A guided tour of the <code>tidyverse</code></h3>
        <ul>
            <li><a href="{{ r_url }}tidyverseGuide/tidyguide_1.html">Data manipulation basics</a></li>
            <li><a href="{{ r_url }}tidyverseGuide/tidyguide_2.html">Nested dfs, <code>map</code>-ing, and more</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 id="misc">Additional tutorials</h3>
        <ul>
            <li><a href="{{ r_url }}simulation/basicSimulationPower.html">Basic data simulation & power analysis</a></li>
            <li><a href="{{ r_url }}brms/multilevelModelsWithBrms.html">Multilevel modeling with <code>brms</code> (focus on partial pooling)</a></li>
            <li><a href="{{ r_url }}Rmarkdown/example-r-markdown.html">Intro to R Markdown</a></li>
        </ul>
    </div>

</div>