<p>
  {{site.org}} develops and teaches workshops on scientific computing skills needed to conduct
  psychological research. Its target audience is researchers who have little to no prior computational experience, 
  and its lessons are psychology-specific, building on learners' existing knowledge to enable them to quickly 
  apply skills learned to their own research.
</p>
<p align="center">
  <em>
    For more information on what <a href="{{site.carpentries_site}}">The Carpentries</a> teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
