{% include base_path.html %}

{% assign r_path = relative_root_path | append: '/R/' %}
{% assign py_path = relative_root_path | append: '/python/' %}

<div class="row">

  <div class="col-md-6">
    <h3 id="syllabus-programming-r">Intro to Programming in R</h3>
    <ul>
      <li><a href="{{ r_path }}1_programming/lessonPart0.html">Acquainting yourself with RStudio</a></li>
      <li><a href="{{ r_path }}1_programming/lessonPart1.html">Variables, data types, vectors, & dataframes</a></li>
      <li><a href="{{ r_path }}1_programming/lessonPart2.html">Pseudocode, relational & logical operators</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-cleaning-plotting-r">Basic Data Cleaning & Plotting in R</h3>
    <ul>
      <li><a href="{{ r_path }}2_dataCleaning/DataCleaning_Code.html">Basic data cleaning in R with the <code>tidyverse</code></a></li>
      <li><a href="{{ r_path }}4_plotting/plotting_tutorial.html">Data Visualisation with <code>ggplot2</code></a></li>
    </ul>
  </div>

</div>
